{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'nav.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'popup.css' %}"> {% endcomment %}
    {% comment %} <link src="{% static 'vendor/chart.js/chart.umd.js' %}" rel="stylesheet"> {% endcomment %}
    <style>
        {% comment %} body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        .initial-form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .logo {
            display: block;
            margin: 0 auto;
            max-width: 80%;
            height: 10%;
            width: 40%;
            padding-top: 0;
        }

        #incomeFields div {
            margin-bottom: 10px;
        }

        .header-main,
        .main-content {
            display: none;
        } {% endcomment %}
    </style>
</head>

<body>
    
    {% comment %} <header>
        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <img src='{% static 'assets/logo.png' %}' alt="LOGO" width="80" height="80" />
                </a> {% endcomment %}

                <!--  <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Search" />

                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button> 
                </div> -->
                {% comment %} <div class="actions">
                    <div class="header-user-actions">
                        <button class="action-btn">
                            <ion-icon name="person-outline" class="person-outlines"></ion-icon>
                        </button>
                        <button>
                            <a class="home" href="index.html">Home</a>
                        </button>
                        
                          <a class="divider">|</a>
                        <button>
                          <a class="emi-text" href="try.html">Calculator</a>
                      </button>
                      
                        <a class="divider">|</a>
                        <button>
                            <a class="alert" href="{% url 'custom' %}">Custom Alert</a>
                        </button>
                        
                          <a class="divider">|</a>
                        <button>
                            <a class="faq-text">FAQ</a>
                        </button>
                        <a class="divider">|</a>
                        <button>
                            <a class="login-text" href="{% url 'my_login' %}">Logout</a>
                        </button>
                        <a class="divider">|</a>
                        <button>
                            <a class="hello-msg">Hello, {{request.user}}</a>
                        </button>
                        <button class="lang-button">
                            <ion-icon name="globe-outline" class="globe-oulines"></ion-icon>
                        </button>
                        <div class="language-container">
                            <a class="EN" href="{% url 'updated_values' %}">Settings</a>
                            <a class="down-arrow">⌄</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header> {% endcomment %}
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                {% comment %} <a class="btn btn-warning" href="{% url 'user' %}"> &#8592; Back to Profile</a> {% endcomment %}
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                <img class="profile-pic" src="{{customer.profileimg.url}}" >
            
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                
                <div class="d-flex justify-content-center form_container">
    
                    <form method="POST" action="">
                        {%csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"value = '{{ user.username }}'></i></span>
                            </div>
                            {{Form.username}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            {{Form.phone}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"value = '{{ user.email }}'></i></span>
                            </div>
                            {{Form.email}}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key" ></i></span>
                            </div>
                            {{Form.profileimg}}
                        </div>
    
                           <div class="d-flex justify-content-center mt-3 login_container">
                             <input class="btn login_btn" type="submit" value="Update">
                           </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
